{% extends "base.html" %}


{% block container %}

        <div class="text">
            <h1> Comparacion SEO de sitios web</h1>
            <p>El analisis puede tardar entre 15 a 30 seg :)</p>

        </div>
        <form method="POST">
            {% csrf_token %}
        
            <div>
                <label for=""> Sitio 1</label>
                <input type="text" name="url1" value="{{ date1.my_url }}" />
                <label for=""> Sitio 2</label>
                <input type="text" name="url2" value="{{ date2.my_url }}" />
        
            </div>
        
            <button type="submit" class="">Comparar</button>
        
        </form>
        
        <table id="table">
            <tr>
                <th>Sitio </th>
                <th>Speed Index</th>
                <th>Time to Interactive</th>
            </tr>
            <tr>
                <td> {{ date1.my_url }} </td>
                <td> {{ date1.speed_index.displayValue }} </td>
                <td> {{ date1.interactive.displayValue }} </td>
            </tr>
            <tr>
                <td>{{ date2.my_url }}</td>
                <td>{{ date2.speed_index.displayValue }}</td>
                <td>{{ date2.interactive.displayValue }}</td>
            </tr>
        
        </table>

       <div style="text-align:center">
           <a href="{% url 'comparation:history'%}"><button>historial</button></a>
       </div>
{% endblock %}