<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SEO</title>
</head>
<body>
        <h1> Comparacion SEO de sitios</h1>
        <p>La tarda 10 seg aproximadamente</p>

<form method="POST">
    {% csrf_token %}

    <div>
        <input type="text" name="url1" value="{{ date1.my_url }}" />
        <span> {{ date1.my_url }}</span>
        
        <p>Speed Index: {{ date1.speed_index.displayValue }}</p>
        <p>Time to Interactive: {{ date1.interactive.displayValue }}</p>
        <p>2</p>
    </div>


    <div>
        <input type="text" name="url2" value="{{ date2.my_url }}" />
        <span> {{ date2.my_url }}</span>
        
        <p>Speed Index: {{ date2.speed_index.displayValue }}</p>
        <p>Time to Interactive: {{ date2.interactive.displayValue }}</p>
        <p>2</p>
    
    </div>

    <button type="submit" class="">mostrar!</button>

</form>

        


    </body>
</html>